In [1]:
#Tweet Ã§ekebilmek iÃ§in gerekli olan kÃ¼tÃ¼phane
#Bu kÃ¼tÃ¼phane google colab'in iÃ§inde varsayÄ±lan olarak yÃ¼klÃ¼ olmadÄ±ÄŸÄ± iÃ§in elle yÃ¼klÃ¼yoruz
!pip install -q snscrape

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Users\Oda\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
!pip show snscrape

Name: snscrape
Version: 0.4.3.20220106
Summary: A social networking service scraper
Home-page: https://github.com/JustAnotherArchivist/snscrape
Author: JustAnotherArchivist
Author-email:
License: UNKNOWN
Location: c:\users\oda\appdata\local\programs\python\python39\lib\site-packages
Requires: beautifulsoup4, filelock, lxml, requests
Required-by:

In [3]:
#os, pyton cli komutlarÄ±nÄ± calistirmaya yarayan bir kÃ¼tÃ¼phane.
import os
import pandas as pd

In [7]:
#Aranacak kelime ve tarih parametreleri
tweet_sayisi = 100000
aranan_kelime = "ekonomi"
aciklama_sonrasÄ±_baslangic = "2021-11-20"
aciklama_sonrasÄ±_bitis = "2021-12-21"
dil = 'tr'

In [8]:
#snscrape komut stringi
extracted_tweets = "snscrape --format '{content!r}'"+ f" --max-results {tweet_sayisi} --since {aciklama_sonrasÄ±_baslangic} twitter-search '{aranan_kelime} lang:{dil} until:{aciklama_sonrasÄ±_bitis}' > aciklama_sonrasi.txt"

os.system(extracted_tweets)
if os.stat("aciklama_sonrasi.txt").st_size == 0:
  print('No Tweets found')
else:
  df = pd.read_csv('aciklama_sonrasi.txt', names=['content'])

No Tweets found

In [6]:
df.shape

NameError: name 'df' is not defined

In [ ]:
df.head()

                                             content
0               '@nasipetme ekonomi ve domuz eti???'
1  Ã¼lkemizde hÃ¼kÃ¼mete ayar vermek iÃ§in kirli oyun...
2  '@MetinUca KatarÄ±n arka bahÃ§esi olduk artÄ±k. Ãœ...
3  MÃœSÄ°AD'dan hÃ¼kÃ¼metin ekonomi politikasÄ±na dest...
4  '@msarikaya6 @FatmaSahin Yeni ekonomi modelini...

In [ ]:
df.tail()

                                                 content
99940  'siyasi gÃ¶rÃ¼ÅŸÃ¼m ektedir. \nEkonomi Ã‡Ã¶zÃ¼mleri -...
99941  'Yine pamuk gibi oldukâ€¦ Neyse ekonomi tweetâ€™le...
99942  '@dalebin Yalanlar siyasi gÃ¶rÃ¼ÅŸÃ¼nde olanlarda ...
99943  'Ekonomi uÃ§acak demiÅŸlerdi. GerÃ§ekten buhar ol...
99944  '@SibelAkmanTR Ã–yle Ã¼st perdeden slogan atarak...

In [ ]:
tweet_sayisi = 100000
aranan_kelime = "ekonomi"
aciklama_Ã¶ncesi_baslangic = "2021-10-10"
aciklama_Ã¶ncesi_bitis = "2021-11-15"
dil = 'tr'

In [ ]:
#snscrape komut stringi
extracted_tweets = "snscrape --format '{content!r}'"+ f" --max-results {tweet_sayisi} --since {aciklama_Ã¶ncesi_baslangic} twitter-search '{aranan_kelime} lang:{dil} until:{aciklama_Ã¶ncesi_bitis}' > aciklama_Ã¶ncesi.txt"

os.system(extracted_tweets)
if os.stat("aciklama_Ã¶ncesi.txt").st_size == 0:
  print('No Tweets found')
else:
  df2 = pd.read_csv('aciklama_Ã¶ncesi.txt', names=['content'])

In [ ]:
df2.shape

(99909, 1)

In [ ]:
df2.head()

                                             content
0                       'Ayda 1 lira. Ekonomi tavan'
1  '@enginser @TebernKireci1 @guray_orcun Siz Ã¼ni...
2  'Ekonomi kitabÄ±nÄ± yazmaya baÅŸladÄ±ÄŸÄ±nda dolar 3...
3  '@mustafademircak @RTErdogan ekonomi bilimi bu...
4   'Pele Ã§Ä±ksa dese ki futbolun kitabÄ±nÄ± ben yazdÄ±m

In [ ]:
df2.tail()

                                                 content
99904  KÄ±lÄ±Ã§daroÄŸlu'nun Tehdit eden aÃ§Ä±klamalarÄ±\nMer...
99905  'Ekonomi ÅŸahlanÄ±yor elhamdulillah https://t.co...
99906  'Ekonomi kÃ¶tÃ¼yse bunda referandumla partili cb...
99907  '3 cÃ¼mleyle Ã§ok komik bir fÄ±kra anlatÄ±n.ðŸ‘‡\n\nB...
99908  'Sinan AkÃ§Ä±l: Burcu KÄ±ratlÄ±dan Ã‡ocuk Ä°stiyorum...